table {
    font-family: Raleway, sans-serif;
}
.table-head{
    color:white;
    font-size: 2rem;
}

.options-container{
    position: relative;
    left: 4vw;
    width: 90vw;
}

.logo-container{
    padding-left: 5vh;
}