table {
    font-family: Raleway, sans-serif;
}
.table-head{
    color:white;
    font-size: 2rem;
}

.options-container{
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 85vw;
}

.logo-container{
    padding-left: 5vh;
}